* {
    box-sizing: border-box;
    margin: 0;
}
/* font-family: 'Inter', sans-serif;
font-family: 'JetBrains Mono', monospace;
font-family: 'Sora', sans-serif; */

.hero {
    min-height: 100vh;
    position: relative;
}

.hero img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
    animation: movie-start 1s ease forwards;
    opacity: 0;
}

.hero video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: movie-start 2s ease 0.5s forwards;
    opacity: 0;
}

@keyframes movie-start {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}